body {
    background-color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

#bd1{
    text-align: center;
}

#clear{
    font-size: large;
}

.grid-container {
    display: grid;
    margin: auto;
}

.grid-item {
    background-color: lightgray;
    text-align: center;  
}
